body {
    background: #f9f9f9;
    background: linear-gradient(90deg, #ffffff 0%,  #f4e496 100%);
  }
  
  h1 {
    color: rgb(74, 48, 126);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: #201f20;
    
  }

  h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: rgb(74, 48, 126);
    font-size: 22px;
  }

.button{
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fceed1;
  background-color: #8065b7;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: auto;
  margin-bottom: 6px;
  }
  
.button:hover{
  
  transition : 1000ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background-color: #8065b7;
  color: #fceed1;
  border: solid 2px #0066cc;
  }
  