<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Add ZIP code</title>
    <meta charset="UTF-8">
</head>
<body>

<h1  align="center">Welcome to Zip-Finder</h1>
<h3 align="center">Zip-Finder allows you to fetch details about any <i>city or District</i> based on just a zipCode input.</h3>
<h3 align="center">Enter a Zip code to see it work</h3>
<form action="#" th:action="@{/addZip}" th:object="${zipInput}" method="post" align="center">
    <p>
        ZIP code: <input type="text" th:field="*{code}">
    </p>
    
    <p>
        <input align="center" type="submit" value="Submit" class="form-submit-button"/><input type="reset" value="Reset" class="form-reset-button">
    </p>
</form>

</body>
</html>