<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add ZIP code</title>
    <meta charset="UTF-8">
</head>
<body>

<h1 align="center">Welcome to Zip-Finder</h1>
<h3 align="center">Enter a Zip code to fetch details</h3>
<form action="#" th:action="@{/addZip}" th:object="${zipInput}" method="post" align="center">
    <p>
        ZIP code: <input type="text" th:field="*{code}">
    </p>
    
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>