<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Location</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h4>Location Corresponding to Zip Code </h4>
    <div name="result" align="center">
        <p th:text="'Post Office Name: ' + ${ZipData.place[0].placeName}"  />
        <p th:text="'Branch Type: ' + ${ZipData.place[0].branchType}" />
        <p th:text="'Circle: ' + ${ZipData.place[0].circle}" />
        <p th:text="'District: ' + ${ZipData.place[0].district}" />
        <p th:text="'Divison: ' + ${ZipData.place[0].division}" />
        <p th:text="'Region: ' + ${ZipData.place[0].region}" />
        <p th:text="'State: ' + ${ZipData.place[0].state}" />
    </div>
    

    <a href="/addZip">Submit another Zip Code</a>
</body>
</html>